.holder h2{
    color: #DCB239;
   text-align: center;
}

.holder p {
    font-size: 20px;
    color: #566573;
    width: 75%;
    margin-left: 10%;    
}

.alimentacion h3{
    color: #DF744A;
    margin-left: 10%;

}

.alimentacion p {
    color: #566573;
    width: 75%;
}

.org {
    display: block;
    margin-left: 5%;
    justify-content: space-around;
    
}

.alimentacion ul {
    color: #566573;
    font-size: 20px;
    text-align: left;
    margin-left: 10%;
}

